img {
  cursor: pointer;
}
img:hover {
  border: 1px solid aqua;
}
.prodduct-detail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 99;
}
@media only screen and (max-width: 590px) {
  .prodduct-detail {
    width: 80%;
  }
}
.zoomImg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80vh;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 999;
}

.zoomImg button {
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
}
.prodduct-detail button {
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
}
.left-box .category .box ul li {
  list-style-type: none;
  color: #4e4d4d;
  transition: 0.5s;
  letter-spacing: 1px;
  font-weight: 600;
}
.left-box .category .box ul li:hover {
  color: black;
  cursor: pointer;
}

.right-box .product-box img {
  height: 100px;
}
.product-box .box {
  position: relative;
}
.product-box .icon {
  right: -20px;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.product-box .icon .h6 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  color: lightcoral;
  transition: 0.5s;
}

.product-box .icon .h6:hover {
  color: orangered;
  transform: scale(1.1);
  cursor: pointer;
}
.product-box .detail button {
  background-color: lightblue;
  transition: 0.5s;
}
.product-box .detail button:hover {
  background-color: rgb(97, 209, 247);
  color: blue;
}
