* {
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}
.top-baner {
  max-width: 100%;
  height: 100vh;
  background: url(../../../public/img/bgImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.content h4 {
  text-transform: capitalize;
  color: #cd1e76;
  font-weight: 300;
  letter-spacing: 1px;
}

.content h1 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
}
.content p {
  color: #ababab;
  letter-spacing: 1px;
}
.content .link {
  background: #5c552c;
  transition: 0.5s;
}
.content .link:hover {
  color: yellowgreen;
  background: #cd1e76;
}
.cate h4:hover {
  transition: 0.5s;
  color: #cd1e76;
  cursor: pointer;
}
.products .img-box {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.products .img-box img {
  width: 100%;
  height: 200px;
}
.products .img-box .icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 5px;
  top: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.products .img-box .icon .icon-box {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  border-radius: 5px;
  display: none;
}
.products .img-box:hover .icon-box {
  display: block;
}
.products .img-box .icon .icon-box:hover {
  color: white;
  background-color: black;
  border-radius: 5px;
}
.newsltter .icon-box .icon {
  border: 1px solid rebeccapurple;
  border-radius: 50%;
  transition: 0.5s;
}
.newsltter .icon-box .icon:hover {
  background-color: white;
  cursor: pointer;
}
.newsltter .icon-box .icon:hover .h2 {
  transform: scale(1.2);
}
.banners img {
  height: 350px;
}
.details button {
  opacity: 0.8;
  background-color: yellowgreen;
  transition: 0.5s;
}
.details button:hover {
  opacity: 1;
  background-color: yellow;
}
.details button:hover .icon {
  transform: scale(1.1);
  color: #cd1e76;
}
.details .icon-box {
  opacity: 0.7;
  transition: 0.5s;
}
.details .icon-box:hover {
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
}
/* .product-type {
  max-height: 150vh;
  overflow: scroll;
} */
